#game {
	display:none;
}

#timer{
    margin: 20px auto;
    text-align: center;
    color: #333;
    font-family: fantasy;
    font-size: 100px;
    cursor: default;
}

#timer div{
    display: inline;
}

#pole{
    width: 500px;
    height: 500px;
    margin: 20px auto;
    text-align: center;
   <!-- border:  2px #000 solid; -->
}

#kletka{
    width: 90px;
    height: 90px;
    border:  2px #eee solid;
    float:right;
}
#letter{
    font:bold 70px Play;
}